<nav>
  <a href="/" class="btn btn-small">Home</a>
  <a href="/dorpsgezicht" class="btn btn-small">Dorpsgezicht</a>
  <a href="/contact" class="btn btn-small">Contact</a>
  <a href="/nieuws" class="btn btn-small">Nieuws</a>
  <a href="/links" class="btn btn-small">Links</a>
  <br/>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/monument">Monument</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="nieuws">Nieuws</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="links">Links</a>
  </li>
</ul>
</nav>
