<div
<a href="/" class="btn">Home</a>
<a href="/dorpsgezicht" class="btn">Dorpsgezicht</a>
<a href="/contact" class="btn">Contact</a>
<a href="/nieuws" class="btn">Nieuws</a>
<a href="/links" class="btn">Links</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
